header {
    background-color:#edecec;
}

h1, h2 {
    margin: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 40px 0;
}

.products-div{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

img{
    width: 300px;
}

.products {
    border: 1px solid #bfbebe;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.product-img{
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.cart-products{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
}
.cart-product{
    display:flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dedede;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #c8c8c8;

}

.count-box{ 
    display: flex;
    align-items: center;
    gap: 10px;
}

.total-box {
    font-size: 25px;
    margin: 10px;

}

.btn-p{
    background-color: rgb(195, 195, 195);
    border: none;
    transform: none;
    cursor: pointer;
    box-shadow: none;
    transition-property: transform, box-shadow;
    transition-duration: .5s;
    border-radius:5%;
    box-shadow: 2px 2px 2px rgb(175, 175, 175);
}

.btn-p:hover{
    box-shadow: 5px 5px 5px rgb(161, 161, 161);
    position: relative;
    top: 2px;
    background-color: #edecec;
}




.order-btn{
    display:flex; 
    justify-content: space-between; 
    align-items: center; 
    border: none; 
    padding: 6px 9px; 
    border-radius: 5px; 
    background-color: #c8c8c8; 
    transition-property: transform, box-shadow;
    transition-duration: .5s;
    border-radius:5%

}

.order-btn:hover{
    box-shadow: 5px 5px 5px rgb(161, 161, 161);
    position: relative;
    bottom: 2px;
    background-color: #ddffd4;
}

.product{
    padding: 20px;
}

.product:hover{
    box-shadow: 5px 5px 5px rgb(161, 161, 161);
    position: relative;
    bottom: 3px;
    transition-property: transform, box-shadow;
    transition-duration: .5s;
    border-radius:5%
}

.remove-btn:hover{
    box-shadow: 5px 5px 5px rgb(161, 161, 161);
    position: relative;
    bottom: 3px;
    transition-property: transform, box-shadow;
    transition-duration: .2s;

}

input {
    border-radius: 5px;
}