header {
    background-color:#edecec;
}

section {
    padding: 40px 0;
}

.products-div{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

img{
    width: 300px;
}

.products {
    border: 1px solid #bfbebe;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.product-img{
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card-products{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}
.card-products{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f0f0f0;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #dcdcdc;

}

.count-box{ 
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-p{
    background-color: rgb(195, 195, 195);
    border: none;
    border-radius:10%;
}
